<h1><%=@play.title%></h1>
  <p>Début: <%=@play.date_start.strftime("%d/%m/%Y")%> à <%=@play.date_start.strftime("%H:%M")%>
  </br>
    Fin: <%=@play.date_end.strftime("%d/%m/%Y")%> à <%=@play.date_start.strftime("%H:%M")%>
  </p>

  <p>Synopsys : <%=@play.synopsys%></p>
  
  <%@play.actors.each do |actor|%>
    <ul>
      <li><%=actor.try(:firstname)%> <%=actor.try(:lastname)%></li>
    </ul>
  <%end%>
